@page
@model PeninsulaPhysiotherapy.Views.Home.FilesModel
@{
}

<div class="container">
    <div class="Text-center">
        <h1 class="text-center display-4">Voucher File Upload</h1>
    </div>
    <div class="mb-3 mt-3">
        <form method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label">Upload File</label>
                <input type="file" name="file" class="form-control"/>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Upload</button>
            </div>

        </form>
    </div>
    <hr />
    <a class="btn btn-primary" asp-controller="Home" asp-action="SendBulkEmail">Send Voucher to All</a>

</div>