@model PeninsulaPhysiotherapy.Models.AppointmentVM

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/css/main.css" rel="stylesheet" />
    <script src="~/js/main.js"></script>

</head>
<h1>Create a New Appointment</h1>
<hr />
<div>
    <form asp-action="Create">
        <div class="row">
            <div class="col-sm-4"></div>
        <div class="col-sm-4"  id="ContactDetailers">
        
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobType" class="control-label"></label>
                <input asp-for="JobType" class="form-control" />
                <span asp-validation-for="JobType" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="SelectedDate" class="control-label">Selected Date</label>
                <input asp-for="SelectedDate" class="form-control" id="SelectedDate" />
                <span asp-validation-for="SelectedDate" class="text-danger"></span>
            </div>
            <div class="form-group" hidden> 
                <label asp-for="Therapist" class="control-label">Selected Therapist</label>
                <input asp-for="Therapist" class="form-control" id="SelectedTherapist" />
                <span asp-validation-for="Therapist" class="text-danger"></span>
            </div>
            <input id="resources" value="@ViewBag.Resources" hidden/>
            <input id="events" value="@ViewBag.Events" hidden/>
        </div>
        </div>
        <br />
        <div id="calendar">
            <script>
                var events=[];
                var resources = [];
                var message = document.getElementById('resources').value;
                var message2 = message.split(',');
                for(var i=0;i<message2.length;i++){
                    resources.push({
                        id: message2[i],
                        title: message2[i]
                    })
                }
                var message = document.getElementById('events').value;
                var message2=message.split(';');
                for (var i = 0; i < message2.length; i++){
                    message3=message2[i].split(',');
                        events.push({
                            resourceId: message3[3],
                            
                            title: 'Booked',
                            start: message3[1],
                            end: message3[2]
                    })
                }
                var calendarEl = document.getElementById('calendar');
                var calendar = new FullCalendar.Calendar(calendarEl, {
                    initialView: 'resourceTimelineWeek',
                    selectable: true,
                    height: 650,
                    resourceAreaHeaderContent: 'Therapist',
                    scrollTime: '08:00',
                    weekends:false,
                    eventOverlap: false,
                    slotEventOverlap: false,
                    selectOverlap: false,
                    eventDisplay: 'list-item',
                    headerToolbar: {
                        left: 'today prev,next',
                        center: 'title',
                        right: 'resourceTimelineDay,resourceTimelineTenDay,resourceTimelineMonth,resourceTimelineYear'
                    }, 
                    views: {
                        resourceTimelineDay: {
                            buttonText: 'Day',
                            slotDuration: '01:00'
                        },
                        resourceTimelineTenDay: {
                            type: 'resourceTimeline',
                            duration: { days: 10 },
                            buttonText: '10 days'
                        }
                    },
                    eventColor: "#378006",
                    eventTextColor: '#ffffff',
                    dateClick: function (info) {
                        document.getElementById('SelectedDate').value = info.dateStr;
                        document.getElementById('SelectedTherapist').value=info.resource.id;
                        // change the day's background color just for fun
                        info.dayEl.style.backgroundColor = 'red';
                    },
                    resources: resources,
                    events: events
                });
                calendar.render();
            </script>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-sm-4">

            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary btn-lg" style="width:100%"/>
                </div>
            </div>

        </div>
        
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
